html, body {
  height: 100%;
}

body{
	background-image: url("../images/wood_background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.circle-container{
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  height: 400px;
  width: 400px;
  background-color: transparent;
  border-radius: 200px;
}

.quarter{
  position: fixed;
  height: 200px; 
  width: 200px;
}

.red{
  left: 50%;
  float: left;
  border-radius: 0 200px 0 0;
  border-right: 200px solid #D70000;
}

.blue{
  top: 50%;
  left: 50%;
  border-radius: 0 0 200px 0;
  border-bottom: 200px solid #2E70FC;
}

.yellow{
  top: 50%;
  border-radius: 0 0 0 200px;
  border-bottom: 200px solid #E5BD27;
}

.green{
  bottom: 50%;
  border-radius: 200px 0 0 0;
  border-left: 200px solid #01A66C;
}