/* Font */

@font-face{  font-family:'pricedown';  
  src: url('../fonts/pricedown.ttf'); 
}

/* Background */

html, body {
  height: 100%;
}

body{
	background-image: url("../images/wood_background.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/* Entire Game */

.circle-container{
	height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle{
  position: fixed;
  height: 400px;
  width: 400px;
  background-color: #000;
  border-radius: 200px;
}

.quarter{
  position: absolute;
  height: 170px;
  width: 170px;
  cursor: pointer;
}

.red{
  float: left;
  border-radius: 0 170px 0 0;
  border-right: 170px solid #D70000;
  left: 210px;
  bottom: 210px;
}

.red:active{
  border-color: #D65353;
}

.blue{  
  border-radius: 0 0 170px 0;
  border-bottom: 170px solid #2E70FC;
  top: 210px;
  left: 210px;
}

.blue:active{
  border-color: #85ABFC;
}

.yellow{
  top: 210px;
  right: 210px;
  border-radius: 0 0 0 170px;
  border-bottom: 170px solid #E5BD27;
}

.yellow:active{
  border-color: #E5CB6B;
}

.green{
  bottom: 210px;
  right: 210px;
  border-radius: 170px 0 0 0;
  border-left: 170px solid #01A66C;
}

.green:active{
  border-color: #4FA587;
}

/* Inner Circle */

.mini-circle{
  position: absolute;
  left: 100px;
  bottom: 100px;
  height: 200px;
  width: 200px;
  background-color: #000;
  border-radius: 200px;
  z-index: 1001;
}

.title{
  color:#fff;
  font-size: 58px;
  text-align: center;
  margin-top: 48px;
  font-family: 'pricedown';
}

#registered{
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 100px;
}
